# Build outputs (Maven)
target/
!.mvn/wrapper/maven-wrapper.jar

# Log & Runtime files
*.log
*.tmp

# Environment & Secrets (Crucial for Phase 2 Docker / DB setup)
.env
*.env
application-local.properties

# OS Junk
.DS_Store
Thumbs.db
ehthumbs.db

# VS Code
.vscode/
*.code-workspace

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/